.card-ui-container {
  padding: 1rem;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  min-height: 30rem;
}
.ui-card {
  padding: 0.5rem;
  padding-bottom: 1rem;
  width: 100%;
  max-width: 28rem;
}
.card-ui-container img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: var(--radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0.5rem;
}
.card-info {
  padding: 0 0.5rem;
}
.ui-card h2 {
  text-transform: capitalize;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}
.ui-card p {
  font-size: 0.9rem;
  color: var(--color-text-secondary);
  margin-top: 0.25rem;
  max-width: 90%;
}
.btn-container {
  text-align: right;
}
.btn-container .btn {
  margin-top: 0.75rem;
}

.ui-card .btn.liked {
  background: var(--color-error);
}

@media screen and (min-width: 568px) {
  .card-ui-container {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .card-ui-container .card {
    flex: 1 1 16rem;
  }
}
