.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.card {
  padding: 1rem;
  flex: 1 1 20rem;
  max-width: 30rem;
  background-color: var(--color-surface);
}
