.ref-example {
  padding-left: 1rem;
  padding-right: 1rem;
}
.flex-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.flex-container > * {
  flex: 1;
}
form {
  /* max-width: 20rem; */
  margin: 0 auto;
  background: var(--color-surface);
  padding: 2rem 1rem;
  border-radius: var(--radius);
}
.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.form-control label {
  color: var(--color-text-secondary);
}
.form-control input {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: var(--radius);
  border: 1px solid var(--color-border);
  background: var(--color-surface);
  color: var(--color-text-primary);
}
.form-control input::placeholder {
  color: var(--color-text-secondary);
  text-transform: capitalize;
}
.counter-container {
  /* max-width: 15rem; */
  margin: 0 auto;
  text-align: center;
  background: var(--color-surface);
  padding: 2rem;
  border-radius: var(--radius);
}
.counter-container h3 {
  margin-bottom: 1rem;
}
.quick-notes-container {
  max-width: 45rem;
}
ul > ul {
  padding-left: 1rem;
}
