.products {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.product-card {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 0;
  border: 1px solid var(--color-border);
  overflow: hidden;
}
.product-card img {
  aspect-ratio: 4 / 3;
  object-fit: contain;
  width: 100%;
}
.product-card .card-info {
  padding: 0.75rem;
  flex: auto;
  background: var(--color-bg);
}
.product-card .btn.liked {
  background: var(--color-error);
}
.product-card h3 {
  font-size: 1rem;
}
