.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.post-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.post-card .tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag {
  background: var(--color-primary-light);
  padding: 0.2em 1em;
  padding-bottom: 0.375em;
  border-radius: 1rem;
}
