.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  font-family: system-ui, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", system-ui, sans-serif;
  color: var(--color-text-primary);
  line-height: 1.6;
}
h1 {
  font-size: 3.2em;
}
p {
  font-size: 0.85rem;
  color: var(--color-text-secondary);
  line-height: 1.4;
  margin: 0.5em 0;
}
img {
  max-width: 100vw;
  display: block;
  height: auto;
  object-fit: cover;
}
li {
  color: var(--color-text-secondary);
}
/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.max-width {
  max-width: 1168px;
  margin: 0 auto;
}
.section {
  padding: 2rem 0;
}
.section-title {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: underline var(--color-primary-dark) 3px;
  text-underline-offset: 0.5em;
}
.btn {
  text-transform: capitalize;
  padding: 0.25rem 1rem;
  border: transparent;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  background: var(--color-primary-light);
}
.btn:hover {
  transform: scale(1.1);
  background: var(--color-primary-dark);
}
.card {
  background: var(--color-surface);
  padding: 1rem;
  border-radius: var(--radius);
  transition: all 0.3s ease;
  box-shadow: 2px 2px 6px var(--color-shadow-light);
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 2px 2px 8px var(--color-shadow-dark);
}
/* HTML: <div class="loader"></div> */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}
.loader-1 {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: var(--color-primary-dark) transparent;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
/* HTML: <div class="loader"></div> */
.loader-2 {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat
    radial-gradient(farthest-side, var(--color-primary-dark) 92%, #0000);
  background:
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l2 1s infinite;
}
@keyframes l2 {
  to {
    transform: rotate(0.5turn);
  }
}
/* HTML: <div class="loader"></div> */
.loader-3 {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color-primary-dark);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.error-page {
  text-align: center;
  padding: 3rem 2rem;
}
/*
#################
 Home page 
################
 */
.navbar {
  background-color: var(--color-surface);
  box-shadow: 0 2px 5px var(--color-shadow-light);
  color: var(--color-text-primary);
  height: 4rem;
  margin: 0;
}
.navbar .max-width {
  padding: 0 2rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
}
.sidebar-toggle-btn {
  padding: 0 5px;
  font-size: 1.75rem;
  background: none;
  border: none;
  color: var(--color-primary-dark);
  cursor: pointer;
}
.sidebar {
  width: 15rem;
  background: var(--color-surface);
  padding: 1rem;
  min-height: 80vh;
  box-shadow: 2px 2px 8px var(--color-shadow-light);
  transition: all 0.3s ease;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
}
.sidebar.hide {
  left: -20rem;
  /* display: none; */
}
.layout {
  position: relative;
}
.sidebar-overlay {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 768px) {
  .layout {
    display: flex;
    gap: 1rem;
  }
  .layout .main-content {
    flex: 1;
  }
  .layout .sidebar {
    flex: 0 0 15rem;
    align-self: flex-start;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .sidebar {
    position: static;
    /* min-height: 30rem; */
    border-radius: 0.5rem;
  }
  .sidebar-toggle-btn {
    display: none;
  }
  .navbar .max-width {
    flex-direction: row;
  }
}
.layout h1 {
  font-size: 2rem;
  text-transform: capitalize;
  padding: 2rem 0 1rem 1rem;
  /* padding-bottom: 1rem; */
}
.layout hr {
  border: 1px solid var(--color-border);
}
.sidebar h3 {
  text-transform: capitalize;
  font-family:
    zilla slab,
    serif;
  margin-bottom: 0.5rem;
}
.sidebar ul {
  list-style: none;
  margin: 0;
}
.sidebar li {
  margin-bottom: 0.5rem;
}
.project-menu-btn {
  /* margin-bottom: 0.5rem; */
  width: 100%;
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  /* width: fit-con; */
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
  /* text-align: center; */
}
.project-menu-btn:hover {
  background: var(--color-primary-dark);
  transform: translateX(4px);
}
.project-menu-btn.active {
  background: var(--color-primary-dark);
  font-weight: bold;
}

/* 
##################
Login page
##################
*/
.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal.hide {
  display: none;
}
.login-ui {
  min-width: 20rem;
  min-height: 12rem;
  background: var(--color-surface);
  padding: 3rem 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px var(--color-shadow-dark);
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--color-error);
  cursor: pointer;
}
.login-ui h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.login-ui .btn-container {
  text-align: center;
}
